@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Ressurrec';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/resserrec.ttf') format('ttf');
  }

  body {
    @apply text-zinc-600 dark:text-zinc-400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-900 dark:text-zinc-200;
  }

  hr {
    @apply border-zinc-100 dark:border-zinc-700/25;
  }

  .prose {
    @apply dark:prose-invert;
  }
}
